.search {
 // min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  mat-card-header{
    font-size: 30px;
    justify-content: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


  }
  &__right{
    display: flex;
    flex-direction: column;
  }
  &__left{
    display: flex;
    flex-direction: column;
  }
  &__button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    &__submit{
      background: lightskyblue;
      color: grey;
    }
  }
  &__heading{
    color: lightgray;
    font-size: 25px;
    font-family: Roboto sans-serif;
    display: flex;
    justify-content: center;
  }
}
.button-soil{
  display: flex;
  justify-content: center;
}
