<mat-card class="delete">
<span class="cancel-icon close-button" (click)="cancel()"><mat-icon> clear </mat-icon></span>

<div class="delete-popup">

  <h2>Do you want to delete task </h2>

  <div class="delete-popup__button-grp">

    <button
      mat-raised-button
      class="button-osler"
      (click)="cancel()">
     Cancel
    </button>

    <button
      mat-raised-button
      class="button-osler"
      (click)="delete()">
      Yes
    </button>

    <mat-spinner
      [strokeWidth]="3"
      [diameter]="30"
      *ngIf="loading">
    </mat-spinner>

  </div>
</div>
</mat-card>
